<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:j2ee="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee    http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>jersey</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
                io.swagger.jaxrs.listing,                
                io.swagger.api
            </param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>org.glassfish.jersey.media.multipart.MultiPartFeature</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.wadl.disableWadl</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>Jersey2Config</servlet-name>
		<servlet-class>io.swagger.jersey.config.JerseyJaxrsConfig</servlet-class>
		<init-param>
			<param-name>api.version</param-name>
			<param-value>1.0.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.title</param-name>
			<param-value>PTCRISync</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.host</param-name>
			<param-value>localhost:8080</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.basepath</param-name>
			<param-value>/v2.0</param-value>
		</init-param>
		<init-param>
			<param-name>swagger.api.schemes</param-name>
			<param-value>http,https</param-value>
		</init-param>

		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Bootstrap</servlet-name>
		<servlet-class>io.swagger.api.Bootstrap</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<!-- <servlet> <servlet-name>default-swagger-ui</servlet-name> <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class> 
		<init-param> <param-name>jersey.config.server.provider.packages</param-name> 
		<param-value>pt.ptcris.api</param-value> </init-param> <load-on-startup>1</load-on-startup> 
		</servlet> <servlet-mapping> <servlet-name>default-swagger-ui</servlet-name> 
		<url-pattern></url-pattern> </servlet-mapping> -->

	<servlet-mapping>
		<servlet-name>jersey</servlet-name>
		<url-pattern>/v2.0/*</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>ApiOriginFilter</filter-name>
		<filter-class>io.swagger.api.ApiOriginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ApiOriginFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
</web-app>
